<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../static/css/index.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            AskWarhammer
        </div>
        <div class="search-form">
            <form action="#">
                <input class="search-form-input" type="text" name="search" placeholder="Search for units, spells, items, etc.">
                <button class="search-form-button">Search</button>
            </form>
        </div>
        <div class="account">
            <div class="account-image">
                <img src="./image.jpg" alt="Image">
            </div>
            <div class="account-content">
                <div class="account-name"></div>
                <div class="account-actions">
                    <a href="./settings.html">Settings</a>
                    <a href="./logout.html">Log out</a>
                </div>
            </div>
        </div>
    </header>

    <main class="container">
        <div class="title-bar">
            <h1>New questions</h1>
            <a href="./hot-questions.html">Not questions</a>
        </div>

            <div class="content">
                    <div class="cards">
                        <div class="card">
                            <div class="card-left">
                                <img src="./image.jpg" alt="Image" class="card-image">
                                <input type="number" class="card-likes">
                            </div>
                            <div class="card-right">
                                <h4>Title</h4>
                                <div>Text here</div>
                                <div class="card-right-bottom">
                                    <a href="./answers.html">Answer (3)</a>
                                    <div class="card-tags">
                                        <a href="#">Link</a>
                                        <a href="#">Link</a>
                                        <a href="#">Link</a>
                                        <a href="#">Link</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <aside class="sidebar"></aside>
            </div>
    </main>

    

</body>
</html>